<!DOCTYPE html>
<html lang="en">

<head>
    <title>WHAM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/login.css" rel="stylesheet">
</head>

<body class="d-flex flex-column align-items-center justify-content-center
flex-basis-0 bg-light">
    <img class="mb-4" src="/img/whamlogo.png" alt="" width="256" height="128">
    <h2>Please sign in</h2>
    <div class="mt-3">
        <a href="/login/patient" class="btn btn-primary btn-lg">I'm a patient</a>
        <a href="/login/therapist" class="btn btn-success btn-lg">I'm a therapist</a>
    </div>
    <a class="mt-3" href="/register">I need an account</a>
</body>

</html>
