<!DOCTYPE html>
<html lang="en">

<head>
  <title>WHAM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>

  <div class="container">
    <h1>Therapists</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {{#each therapists}}
        <tr class="click-row" onclick={{concat "window.location='/therapists/" username "'"}}>
          <td>{{username}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</body>

</html>
